{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<form action = "" method = "get">
  <h4>Enter Email ID's followed by comma</h4>
    <label for="email_id">Email ID: </label>
    <input id="email_id" type="text" name="email_id">
    <input type="submit" value="Submit">
</form>

{% if Emails %}
<h3>{{ Message }}</h3>
{% for email in Emails %}
<h4>{{ email }}</h4>
{% endfor %}
{% endif %}

{% else %}
  <p>You are not logged in. Please
    <a href="{% url 'login' %}">Log In</a>
  </p>
{% endif %}
{% endblock %}
